/* Generic elements/classes */

body {
	margin: 0;
	background-color: #eee;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #090;
	word-wrap: break-word;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
}

h3 {
	margin-bottom: 0;
}

p {
	max-width: 70ex;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
	word-wrap: break-word;
}

a {
	color: #090;
}

a:hover {
	text-decoration: none;
}

input {
	vertical-align: middle;
}

input[type="checkbox"] {
	margin: 0;
}

textarea {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font: inherit;
	resize: vertical;
}

.clear {
	clear: both;
}

.tile {
	position: relative;
	overflow: hidden;
	max-width: 70ex;
	margin: 20px auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 2px #999;
	-webkit-column-break-inside: avoid;
}

.tile :first-child {
	margin-top: 0;
}

.tile :last-child {
	margin-bottom: 0;
}

.tile form, .tile p {
	margin: 10px auto;
}

.tile p {
	white-space: pre-line;
}

.tile ul {
	margin: 10px 0;
	padding: 0 0 0 1em;
}

.subtitle, label, #prompt_dropdowns {
	font-size: 10pt;
	color: #333;
}

.subtitle {
	max-width: none;
	text-align: center;
}

h3 + .subtitle {
	margin-top: 0;
}

/* Header */

header {
	background-color: #393;
	color: #fff;
}

header h1 {
	margin: 0;
	padding: 10px;
}

header a, header img {
	display: block;
	margin: 0 auto;
}

header a {
	max-width: 565px;
}

header img {
	max-width: 100%;
}

/* Navigation */

#nav {
	background-color: #262;
	color: #fff;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#nav li {
	display: inline-block;
}

#nav li:not(:last-child):after {
	content: " ·";
}

#nav a {
	display: inline-block;
	line-height: 30px;
	color: #fff;
}

#nav button {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	height: 30px;
	font: inherit;
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

#nav button:hover {
	text-decoration: none;
}

@media (max-width: 600px) {

	#nav a, #nav button {
		position: relative;
		width: 40px;
		/* Cosmo mini icons, from http://www.icojam.com/blog/?p=674 */
		background-image: url('/static/nav_sprite.png');
		background-repeat: no-repeat;
		text-indent: -9000px;
	}

	#nav a {
		line-height: 40px;
	}

	#nav button {
		height: 40px;
	}

	#nav_home { background-position: 0 0; }
	#nav_chat_list { background-position: 0 -40px; }
	#nav_account { background-position: 0 -80px; }
	/* Gotta do button here or it gets overridden by #nav button above. */
	button#nav_log_out { background-position: 0 -120px; }

	#nav_chat_list:after {
		display: block;
		position: absolute;
		top: 10px;
		right: 7px;
		left: 7px;
		background-color: #fff;
		border-radius: 10px;
		text-indent: 0;
		line-height: normal;
		text-align: center;
		font-size: 10pt;
		font-weight: bold;
		color: #262;
		content: attr(data-unread);
	}

}

/* Main */

main {
	display: block;
	margin: 50px;
}

@media (max-width: 600px) {
	main {
		margin: 20px;
	}
}

/* Subnav */

@media (min-width: 1120px) {
	#subnav {
		display: block;
		position: absolute;
		right: 50%;
		margin-top: 0;
		margin-right: calc(35ex + 30px);
		width: 180px;
	}
}

#subnav .tile {
	background-color: #F8F8F8;
	box-shadow: 0 1px 2px #BBBBBB;
}

#subnav :first-child {
	margin-top: 0;
}

@media (max-width: 1119px) {
	#subnav ul {
		padding: 0;
		text-align: center;
	}
	#subnav li {
		display: inline;
	}
	#subnav li:not(:last-child):after {
		content: " ·";
	}
}

/* Homepage */

.account_form {
	text-align: center;
}

.answer_mode #connecting, .prompt_mode #connecting, .wait_mode #connecting, .connection_error #connecting, #answer_mode, #prompt_mode, #wait_mode, #connection_error {
	display: none;
}

.answer_mode #answer_mode, .prompt_mode #prompt_mode, .wait_mode #wait_mode, .connection_error #connection_error  {
	display: block;
}

#categories, #categories textarea {
	background-color: #f8f8f8;
}

#categories ul {
	padding: 0;
	text-align: center;
}

#categories li {
	display: inline-block;
}

#categories li:not(:last-child):after {
	content: " ·";
}

#filter_toggle {
	display: none;
}

#filter_toggle + p {
	margin-bottom: 0;
	text-align: center;
	font-size: 10pt;
}

label[for="filter_toggle"] {
	color: #090;
	text-decoration: underline;
	cursor: pointer;
}

label[for="filter_toggle"]:hover {
	text-decoration: none;
}

#filter_toggle + p + form, #filter_toggle:checked + p {
	display: none;
}

#filter_toggle:checked + p + form {
	display: block;
}

.answer_mode .prompt_button {
	float: right;
}

#prompt_list {
	clear: both;
	margin: 20px 0;
	padding: 0;
	list-style-type: none;
	-moz-column-width: 500px;
	-moz-column-gap: 20px;
	-webkit-column-width: 500px;
	-webkit-column-gap: 20px;
}

#prompt_list li {
	max-height: 150px;
	cursor: pointer;
}

#prompt_list li:first-child {
	margin-top: 0;
}

#prompt_list li:last-child {
	margin-bottom: 0;
}

#prompt_list li p {
	margin: 0;
}

.fade {
	display: block;
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	height: 50px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#prompt_mode textarea {
	height: 150px;
}

#overlay, #report_overlay {
	display: none;
}

.show_overlay, .show_report_overlay {
	overflow: hidden;
}

.show_overlay #overlay, .show_report_overlay #report_overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	overflow-y: scroll;
	padding: 0 20px;
	background-color: rgba(238, 238, 238, 0.75);
}

#post_button, #overlay_close, #overlay_report, #report_overlay_close {
	float: right;
}

/* Chat list */

#chat_list {
	padding: 0;
}

.pager {
	text-align: center;
}

.tile.pager {
	background-color: #f8f8f8;
}

.unread, .editing {
	box-shadow: 0 2px 4px #090;
}

.notes {
	max-width: none;
	font-size: 10pt;
}

/* Chat window */

#messages {
	margin: 20px 0;
	padding: 0;
	list-style-type: none;
}

.message_ooc {
	opacity: 0.5;
}

.message_ooc:hover {
	opacity: 1;
}

.message_system {
	text-align: center;
}

.edited p:after {
	color: #999;
	content: " (edited)";
}

#status_bar {
	max-width: 70ex;
	margin: -5px auto;
	color: #666;
	text-align: center;
	font-size: 10pt;
}

#message_form textarea {
	height: 100px;
}

#message_form button {
	float: right;
}

#message_form label {
	float: right;
}

.tile.continue {
	text-align: center;
}

/* Chat notes */

#chat_notes_title, #chat_notes_labels {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font: inherit;
	color: inherit;
}

.danger h1, .danger h2, .danger h3, .danger h4, .danger h5, .danger h6, .danger a {
	color: #f33;
}

.danger .links {
	text-align: center;
}
