bcrypt==3.1.4
celery==4.1.0
cryptography==2.1.4
paginate==0.5.6
psycopg2==2.7.3.2
PyJWT==1.5.3
pyramid==1.9.1
pyramid-celery==3.0.0
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.3
pyramid-mailer==0.15.1
pyramid-mako==1.0.2
pyramid-services==1.1
pyramid-tm==2.2
pytz==2017.3
redis==2.10.6
requests==2.18.4
SQLAlchemy==1.1.15
SQLAlchemy-Enum34==1.0.1
tornado==4.5.2
tornado-redis==2.4.18
transaction==2.1.2
waitress==1.1.0
zope.sqlalchemy==0.7.7
