bcrypt==2.0.0
celery==3.1.25
cryptography==1.8.1
paginate==0.5.2
psycopg2==2.6.1
pyjwt==1.5.0
pyramid==1.5.7
pyramid-celery==2.0.0
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.4
pyramid_mailer==0.14.1
pyramid-mako==1.0.2
pyramid-services=1.1
pyramid-tm==0.12
pytz==2015.4
redis==2.10.3
requests==2.13.0
SQLAlchemy==1.0.6
sqlalchemy-enum34==1.0.1
tornado==4.2
tornado-redis==2.4.18
transaction==1.4.4
waitress==0.8.9
zope.sqlalchemy==0.7.6
